.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  text-transform: lowercase;
  margin: 0;
  font-size: 120px;
  text-shadow: 0 8px 0 red, 0 16px 0 blue;
}

.subtitle {
  margin: 0 0 8px 0;
  font-size: 40px;
}